@model Department
@{
    Layout = "~/views/shared/_Layout2.cshtml";
    ViewBag.Title = "Details";
}


    <h3 style="color:blue">Department Show</h3>
    <h4>@Model.DeptId:@Model.DeptName</h4>
    <a href="/Department/index"><input type="button" value="Back" class="btn btn-primary"></input></a>

