@model IEnumerable<Department>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DeptId</td>
                <td>@item.DeptName</td>
                <td>
                    <a href="/department/Details/@item.DeptId"> <input type="button" value="Details" class="btn btn-primary" /></a>
                    <a href="/department/Delete/@item.DeptId"><input type="button" onclick="return confirm('Are You Sure')" value="Delete" class="btn btn-danger" /></a>
                </td>
            </tr>
        }
    </table>
    <a href="/department/create"><input type="button" value="Add Department" class="btn btn-warning" /></a>
</body>
</html>
