
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>studentcreate</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <form action="Create" method="post">
        <br />
        <lable class="form-label">Student Name  </lable><input type="text" name="Name" class="input-group-lg"/><br/>
        <br /> <lable class="form-label">Student Age  </lable><input type="text" name="Age" class="input-group-lg" /><br />
        <br /><input type="submit" value="Add" class="btn btn-danger"/>
    </form>
</body>
</html>
