@model Student
@{
    Layout = "~/views/shared/_Layout2.cshtml";
    ViewBag.Title = "Details";
}


    <h3 style="color:red">Student Show</h3>
    <h4>@Model.Id:@Model.Name:@Model.Age</h4>
    <a href="/student/index"><input type="button" value="Back" class="btn btn-primary" ></input></a>

