@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h3 style="color:red">Student Show</h3>
    <h4>@Model.Id:@Model.Name:@Model.Age</h4>
    <a href="/student/index"><input type="button" value="Back" class="btn btn-primary" ></input></a>
</body>
</html>
