@model StudentDepartmentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1 style ="color:green">Student Show</h1>
    <h2>@Model.student.Id:@Model.student.Name:@Model.student.Age</h2>
    <h1 style="color:green">Department Show</h1>
    <h2>@Model.department.DeptId:@Model.department.DeptName</h2>
</body>
</html>
